<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @register.name %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @register.branch %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @register.semester %>
</p>

<p>
  <strong>Event:</strong>
  <%= @register.event_id %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
